*,body{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body{
  padding: 0;
  margin: 0;
}

/*
=====================
*** Header ***
=====================
*/
header.header{
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 2px 8px #e8e8eb;
//  social media
.social-media{
  .list-inline-item:not(:last-child) {
    margin-right: 10px;
  }
  [class *= item] a{
    display: block;
  }
  .fa-2x{
    font-size: 25px;
    color: #a8a8a8;
  }
  .item-1 a i{
      background: -webkit-gradient(linear, left top, left bottom, from(#44b78a), to(#4ba6db));
      background-clip: border-box;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  .item-2 a{
    font-size: 14px;
    margin-right: 30px;
    &:first-child{
      color: black;
      font-weight: bold;
    }
  }
}
//  End of social-media class
  
//  second row -> form-logo-Cart
  .logo img{
    max-width: 100%;
  }
  form{
    display: inline;
  }
  .form {
    input[type=search] {
      width: 60%;
      margin-top: 20px;
      border: 2px solid #00a855;
      background-color: #f9f9f9;

    }
    a{
      margin-left: -4px;
    }
    a i.fa-search{
      color: white;
      background: linear-gradient(to right, #44b87a, #4ba6db) !important;;
      padding: 7px 10px;
    }
    form.upload{
      margin-left: 20px;

      a{
        text-transform: uppercase;
        font-size: 15px;
        color: #00a855;
        border: 1px solid #00a855;
        padding: 10px;
        border-radius: 10px;
      }
    }
  }
//End of forms
  
//start cart-account
  .account{
    margin-top: 15px;
    background-color: #f0f0f0;
    .dropdown{
      display: inline;
    }
    .dropdown .btn{
      background-color: transparent;
      color: #666666;
      cursor: pointer;
      outline:none !important;
      &:focus{
        outline: none !important;
      }
    }
    [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner, button::-moz-focus-inner {
      border-style: none;
      padding: 3px;
    }
   
    .wishlist{
      display: inline;
      margin-left: 5px;
      position: relative;
      top: 5px;
      .fa-heart-o{
        font-size: 25px;
        color:#4bb989;
      }
      a{
       color: black; 
      }
    }
    .cart{
      display: inline;
      cursor: pointer;
      position: relative;
      .dropdown-toggle::after {
        display: none;
      }
       button,  [type=button] {
        -webkit-appearance: none;
      }
      
      .fa-cart-plus{
        font-size: 25px;
        color: #4bb989;
        position: absolute;
        z-index: 111;
        top: 0;
      }
      span{
        position: absolute;
        width: 20px;
        height: 20px;
        background: red;
        font-size: 18px;
        border-radius: 50%;
        color: white;
        top: -7px;
        left: 35px;
      }
      a {
        color: black;
      }
    }
  }
}


/*
======================
*** tob-bar ***
======================
*/
.top-bar{
  .categories{
    width: 80%;
    margin-left: 20%;
    border-left: 1px solid rgba(0,0,0,.125);
    border-right: 1px solid rgba(0,0,0,.125);
    border-bottom: 1px solid rgba(0,0,0,.125);
    .card{
      border:none ;
      background-color: transparent;

      .card-header{
        background-color:transparent ;
        border-bottom:1px solid silver ;
        border-top: none;
         &:hover{
           background-color:rgba(0,0,0,.125) ;
         }
        &:hover h5.mb-0 a{
          color: #4bb989;
        }
      }
      .card-block{
        ul li {
          list-style: circle;
          a {
            color: #666666;
            font-family: sans-serif,Serif;
            &:hover{
              color: #4bb989;
            }
          }
        }
      }
    }
    h4{
      padding-top: 15px;
      color: #4bb989;
      margin: 0;
      padding-bottom: 10px;
      border-bottom: 1px solid #4bb989;
    }
    h5.mb-0 a{
      color: #666666;
      text-decoration: none;
      font-family: sans-serif,Serif;
      text-transform: uppercase;
      font-size: 14px;
      &:hover{
        color: #4bb989;
        text-decoration: none;
        

      }
    }
    
  }
  /*
===================
.img-fluid
===================
*/
  .carousel{
    .img-fluid{
      height: 80vh;
    }
  }
}
/*
End of top-bar
*/

/*
============
products
============
*/
.products{
  padding: 100px 0;
  position: relative;
  #thumbs2{
    padding: 35px;
    margin-left: 12%;
    height: 500px;
    
    ul li{
      border: none;
    }

    .product-info{
      z-index: 99;
      position: absolute;
      top: 103%;
      left: 18%;
      ul.product-info-price{
        display: block;
        font-size: 15px;
        li{
          margin-bottom: 15px;
        }
      }
      h5{
        text-align: center;
      }
      span{
        color: black;
        z-index: 999;
      }
    }
    ul li.active{
      border: none;
    }
    #thumbs2-prev,#thumbs2-next{
    padding: 10px;
      border: 1px solid #4bb989;
      width: 15%;
      margin-left: 30%;
      
    }
    #thumbs2-prev::before, #thumbs2-next::before{
      width: 10px;
      border-left: 2px solid #4bb989;
      border-top: 2px solid #4bb989;
         margin-left: -6px;
    }
  }

}